<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>se.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>se.controller.uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BootstrapServlet</servlet-name>
        <servlet-class>se.controller.BootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demographicServlet</servlet-name>
        <servlet-class>se.controller.demographicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKPPServlet</servlet-name>
        <servlet-class>se.controller.TopKPPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKCServlet</servlet-name>
        <servlet-class>se.controller.TopKCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatmapServlet</servlet-name>
        <servlet-class>se.controller.HeatmapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKNPServlet</servlet-name>
        <servlet-class>se.controller.TopKNPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBootstrap</servlet-name>
        <servlet-class>se.json.JsonBootstrap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonLogin</servlet-name>
        <servlet-class>se.json.jsonLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>se.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTokKPP</servlet-name>
        <servlet-class>se.json.JsonTokKPP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonTopKC</servlet-name>
        <servlet-class>se.json.jsonTopKC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKNP</servlet-name>
        <servlet-class>se.json.JsonTopKNP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonDemographic</servlet-name>
        <servlet-class>se.json.JsonDemographic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonHeatmap</servlet-name>
        <servlet-class>se.json.JsonHeatmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadUpdateServlet</servlet-name>
        <servlet-class>se.controller.UploadUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBootstrapFiles</servlet-name>
        <servlet-class>se.json.JsonBootstrapFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonUpdate</servlet-name>
        <servlet-class>se.json.JsonUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonUpdateFiles</servlet-name>
        <servlet-class>se.json.JsonUpdateFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonAGD</servlet-name>
        <servlet-class>se.json.JsonAGD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonDisplay</servlet-name>
        <servlet-class>se.json.JsonDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonDisplay</servlet-name>
        <url-pattern>/json/JsonDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BootstrapServlet</servlet-name>
        <url-pattern>/BootstrapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demographicServlet</servlet-name>
        <url-pattern>/demographicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKPPServlet</servlet-name>
        <url-pattern>/TopKPPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKCServlet</servlet-name>
        <url-pattern>/TopKCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatmapServlet</servlet-name>
        <url-pattern>/HeatmapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKNPServlet</servlet-name>
        <url-pattern>/TopKNPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBootstrap</servlet-name>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonLogin</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTokKPP</servlet-name>
        <url-pattern>/json/top-k-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonTopKC</servlet-name>
        <url-pattern>/json/top-k-companions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKNP</servlet-name>
        <url-pattern>/json/top-k-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonDemographic</servlet-name>
        <url-pattern>/json/basic-loc-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonHeatmap</servlet-name>
        <url-pattern>/json/heatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadUpdateServlet</servlet-name>
        <url-pattern>/UploadUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBootstrapFiles</servlet-name>
        <url-pattern>/json/JsonBootstrapFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonUpdate</servlet-name>
        <url-pattern>/json/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonUpdateFiles</servlet-name>
        <url-pattern>/json/JsonUpdateFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonAGD</servlet-name>
        <url-pattern>/json/group_detect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
